# Environment variables
.env

# Data folder
data/
data-extra-variables/
data-extra-variables-local/
data-energy/
data-crops/

# Models folder
models/
models-extra-variables/
models-extra-variables-local/
models-energy/
models-crops/

# Plots folder
plots-extra-variables/
plots-energy/