# Environment variables
.env

# Data folder
data/
data-extra-variables/
data-extra-variables-local/
data-energy/

# Models folder
models/
models-extra-variables/
models-extra-variables-local/
models-energy/
